html, body {
  margin: 0;
}

canvas {
  position: absolute;
  z-index: -1;
}

.btn-wrap {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  bottom: 20%;
}

.btn-wrap button {
  
}